doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
  body
    .jumbotron
      .container.text-center
        h1.display-4 Кулик Олександр і Мовсесян Віталій
        h1.display-5 3 - В курс AKIT
          br
          | Лабораторні роботи 
        h1.display-5 Web-додаток: контакти
        br
        br
        a.btn.btn-outline-dark.btn-lg(href='/login' role='button') Перейти на сторінку входу 
